/* AdminLogin.css */

.admin-login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.admin-login-container h2 {
  margin-bottom: 10px;
}

.admin-login-container input {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.admin-login-container button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.admin-login-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 24px;
  color: #007bff;
  cursor: pointer;
}
